*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background:#FBFBFB;
}
.navbar a{
    color: rgb(0, 0, 0)!important;
}
.navbar a img{
    width: 100px;
}
.navbar ul{
    float: right;
    text-align: right;
}
.navbar button{
    background-color: white;
}
#banner-section{
    width: 100%;
    height: 100vh;
    padding-top:120px;
    padding-bottom:90px;
}
#banner-section .row .col-sm-12 img{
    width: 100%;
    height: 500px;
}
#about-section .section-header h1 span{
    color: #256AA5;
}
#footer-section{
    background: darkslategray;
    color: white;
    font-size: 20px ;
}
#footer-section p{
    margin-bottom: 0!important;
}
#my-btn{ 
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
#my-btn:hover{
    background: #606060;
}








@keyframes heartbeat{
    0%{
        transform: scale(.75);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(.75);
    }
    75%{
        transform: scale(1);
    }
    100%{
        transform: scale(.75);
    }
}
@keyframes gocorona{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}